<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
    <test name="test run 1">
        <classes>
            <class name="com.qa.tests.LoginTest"></class>
            <class name="com.qa.tests.ProductLoadTest"></class>
            <class name="com.qa.tests.CartPageTest"></class>
            <class name="com.qa.tests.InvalidLoginTest"></class>

        </classes>
    </test>
</suite>